---
import Navbar from "../components/Navbar.astro";

---

<Navbar></Navbar>
<div class="absolute spacer layer1"></div>

<section id="hero" class="bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px] overflow-hidden" >
	<!-- Hero Container -->
	<div class="h-auto lg:h-[90vh] pt-48 lg:pt-24 container flex flex-col items-center justify-center lg:justify-around gap-20 lg:gap-0 mx-auto px-6 lg:flex-row ">
	  <!-- Content Container -->
		<div class="zoomIn flex flex-col lg:w-3/4 relative z-10">
			<h1 class="animate-text bg-gradient-to-r from-teal-500 via-purple-500 to-yellow-500 bg-clip-text text-transparent font-extrabold text-center text-8xl md:text-7xl xl:text-7xl lg:max-w-3xl lg:text-left pb-4">
				Keegan Francis
			</h1>
			<p class="text-xl md:text-3xl lg:text-2xl font-semibold text-center text-gray-400 lg:max-w-lg lg:text-left pb-12">
				Want to unlock the future of finance? Dive into the world of Bitcoin and Cryptocurrency with a true Subject Matter Expert.
			</p>
			<div class="flex flex-row gap-8 scroll-smooth justify-center lg:justify-start">
				<a href="#network" class="w-full lg:w-1/2 xl:w-1/4 bg-blue-500 hover:bg-blue-700 transform duration-200 hover:-translate-y-1 text-white font-bold py-6 lg:py-2 rounded">
					<div class="flex flex-row gap-4 justify-center items-center ">
						<svg width="24" height="18" viewBox="0 0 36 50" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M28.159 0.212416C28.4649 0.389723 28.7016 0.665509 28.8304 0.99472C28.9592 1.32393 28.9726 1.68711 28.8684 2.02492L23.2403 20.3124H33.6246C33.9298 20.3123 34.2283 20.4015 34.4834 20.5691C34.7384 20.7367 34.9388 20.9753 35.0598 21.2555C35.1807 21.5357 35.217 21.8451 35.1641 22.1457C35.1112 22.4463 34.9715 22.7247 34.7621 22.9468L9.76215 49.5093C9.52025 49.7665 9.19836 49.9342 8.84894 49.9851C8.49952 50.0359 8.14318 49.9669 7.83799 49.7893C7.53281 49.6117 7.29677 49.336 7.16837 49.0071C7.03996 48.6782 7.02675 48.3154 7.1309 47.978L12.759 29.6874H2.37465C2.06947 29.6875 1.77095 29.5983 1.51592 29.4307C1.26088 29.2631 1.06051 29.0245 0.939538 28.7443C0.818563 28.4641 0.78228 28.1547 0.835168 27.8541C0.888055 27.5536 1.0278 27.2751 1.23715 27.053L26.2371 0.490541C26.4787 0.233663 26.8001 0.0660675 27.1491 0.0150048C27.498 -0.0360579 27.8539 0.0324152 28.159 0.209291V0.212416Z" fill="white"/>
						</svg>
						<h1 class="text-3xl lg:text-base">Join me</h1>
					</div>
				</a>
				<a href="#content" class="w-full lg:w-1/2 xl:w-1/3 bg-blue-500 hover:bg-blue-700 transform duration-200 hover:-translate-y-1 text-white font-bold py-6 lg:py-2 rounded">
					<div class="flex flex-row gap-4 justify-center items-center ">
						<svg width="24" height="18" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M14 14.252V16.342C13.0949 16.022 12.1263 15.9239 11.1754 16.0558C10.2245 16.1877 9.3192 16.5459 8.53543 17.1002C7.75166 17.6545 7.11234 18.3888 6.67116 19.2414C6.22998 20.094 5.99982 21.04 6 22H4C3.99954 20.7788 4.27866 19.5737 4.81597 18.4771C5.35328 17.3804 6.13452 16.4214 7.09982 15.6733C8.06512 14.9253 9.18886 14.4082 10.3849 14.1617C11.581 13.9152 12.8176 13.9467 14 14.252ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11ZM17.793 19.914L21.328 16.379L22.743 17.793L17.793 22.743L14.257 19.207L15.672 17.793L17.793 19.914Z" fill="white"/>
						</svg>
						<h1 class="text-3xl lg:text-base">Stay up to date</h1>
					</div>
				</a>
			</div>
		</div>
		<!-- Image -->
		<div class="slideIn mx-auto self-end">
			<img src="/img/profile-header.png" class="object-cover" alt="hero" draggable="false">
		</div>
	</div>
</section>

<section id="network" class="relative z-5 bg-gradient-to-r from-webblue to-blue-500 shadow-xl scroll-smooth pt-24 pb-24 " >
	<div class="h-[90vh] container flex flex-col items-center justify-center gap-20 mx-auto px-6 ">
		<h1 class="slideIn mt-64 text-white font-bold text-center xl:text-6xl pb-4">
			Welcome to my Lightning Node, <br> 
			<span class="font-extrabold text-6xl text-yellow-300 transform hover:text-orange-400 duration-500">
				<a href="https://amboss.space/node/02ec10d238c608af4691a0e817bcfbb4f889f90c95d93ba3150a1ac04cdcde402b">BitcoinKeegan</a>
			</span>
		</h1>
		<p class="text-3xl text-white font-light max-w-3xl text-center tracking-wide leading-relaxed">By connecting to my node, you're not just engaging with me, but also becoming a part of a broader movement that's shaping the future of decentralized finance.</p>

		<div>
			<h1 class="slideIn mt-36 mb-6 flex w-full items-center text-white font-bold text-center xl:text-3xl pb-4 before:mr-4 before:block before:h-px before:flex-grow before:bg-white after:ml-4 after:block after:h-px after:flex-grow after:bg-white">
				Rate and follow my node on... 
			</h1>
			<!-- Section grid - images and text -->
			<div class="container relative z-7 bg-neutral-50 grid grid-cols-2 px-6 md:px-12 py-6 md:py-12 rounded-lg shadow-xl lg:grid-cols-4 gap-2 md:gap-8">
				<!-- Grid Card 1 -->
				<div class="flex flex-col lg:flex-row h-[100px] w-full items-center p-4 md:justify-around bg-neutral-50  rounded-xl transition-all transform duration-500 hover:scale-105 hover:shadow-xl">
					<img src="/img/amboss.svg" class="self-center h-full w-1/3"></img>
					<p class="self-center w-1/2 text-xl font-bold text-center">Amboss Space</p>
				</div>
	
				<!-- Grid Card 2 -->
				<div class="flex flex-col lg:flex-row h-[100px] w-full items-center p-4 md:justify-around bg-neutral-50  rounded-xl transition-all transform duration-500 hover:scale-105 hover:shadow-xl">
					<img src="/img/lnp.svg" class="self-center h-full w-1/3"></img>
					<p class="self-center w-1/2 text-xl font-bold text-center">Lightning Network Plus</p>
				</div>
	
				<!-- Grid Card 3 -->
				<div class="flex flex-col lg:flex-row h-[100px] w-full items-center p-4 md:justify-around bg-neutral-50  rounded-xl transition-all transform duration-500 hover:scale-105 hover:shadow-xl">
					<img src="/img/1ml.svg" class="self-center h-full w-1/3"></img>
					<p class="self-center w-1/2 text-xl font-bold text-center">1ML.com</p>
				</div>
	
				<!-- Grid Card 4 -->
				<div class="flex flex-col lg:flex-row h-[100px] w-full items-center p-4 md:justify-around bg-neutral-50  rounded-xl transition-all transform duration-500 hover:scale-105 hover:shadow-xl">
					<img src="/img/el.svg" class="self-center h-full w-1/3"></img>
					<p class="self-center w-1/2 text-xl font-bold text-center">Exponential Layers</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="content" class="shadow-xl bg-white scroll-smooth pt-24 pb-24" >
	<!-- Hero Container -->
	<div class="h-[50vh] lg:min-h-screen container flex flex-col items-center justify-center gap-20 mx-auto px-6 ">
		<div class="flex flex-row justify-between items-center">
			<div class="relative z-10 mx-auto border-gray-800 dark:border-gray-800 bg-gray-800 border-[14px] rounded-[2.5rem] h-[600px] w-[300px]">
				<div class="h-[32px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[72px] rounded-l-lg"></div>
				<div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[124px] rounded-l-lg"></div>
				<div class="h-[46px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -left-[17px] top-[178px] rounded-l-lg"></div>
				<div class="h-[64px] w-[3px] bg-gray-800 dark:bg-gray-800 absolute -right-[17px] top-[142px] rounded-r-lg"></div>
				<div class="rounded-[2rem] overflow-hidden w-[272px] h-[572px] bg-white dark:bg-gray-800">
					<img src="/img/iphone.jpg" class="hidden dark:block w-[272px] h-[572px]" alt="" draggable="false">
				</div>
			</div>
			
		</div>
	</div>
</section>


<style>
	:global(html) {
    	scroll-behavior: smooth;
   }

	.spacer {
		aspect-ratio: 900/300;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.layer1 {
		background-image: url('../../img/layer2.svg')
	}
</style> 

<script>
	//Callback function for intersectionObserver API
	const callback = function (entries) {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("animate-slideInUp");
			}
		});
	};

	//Create an observer
	const observer = new IntersectionObserver(callback);

	//Observe when the selected element enters viewport
	document.querySelectorAll(".slideIn").forEach(function (target) {
		observer.observe(target);
	});

	//Callback function for intersectionObserver API
	const callback2 = function (entries) {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("animate-zoomIn");
			}
		});
	};

	//Create an observer
	const observer2 = new IntersectionObserver(callback2);

	//Observe when the selected element enters viewport
	document.querySelectorAll(".zoomIn").forEach(function (target) {
		observer2.observe(target);
	});

</script>

