---
import Content from "../components/Content.astro";
import Donate from "../components/Donate.astro";
import Hero from "../components/Hero.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import Network from "../components/Network.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Keegan Francis">

	<!-- Navigation bar -->
	<Navbar></Navbar>

	<!-- SVG wave layer -->
	<div class="absolute spacer layer1 w-screen pt-80 "></div>

	<!-- Hero section -->
	<Hero></Hero>

	<!-- Network section -->
	<Network></Network>

	<!-- Content section -->
	<Content></Content>

	<Donate></Donate>
</Layout>


<style>
	:global(html) {
    	scroll-behavior: smooth;
   }

	.spacer {
		aspect-ratio: 300/100;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.layer1 {
		background-image: url('../../img/layer2.svg')
	}
</style> 

<script>
	//Callback function for intersectionObserver API
	const callback = function (entries) {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("animate-slideInUp");
			}
		});
	};

	//Create an observer
	const observer = new IntersectionObserver(callback);

	//Observe when the selected element enters viewport
	document.querySelectorAll(".slideIn").forEach(function (target) {
		observer.observe(target);
	});

	//Callback function for intersectionObserver API
	const callback2 = function (entries) {
		entries.forEach((entry) => {
			if (entry.isIntersecting) {
				entry.target.classList.add("animate-zoomIn");
			}
		});
	};

	//Create an observer
	const observer2 = new IntersectionObserver(callback2);

	//Observe when the selected element enters viewport
	document.querySelectorAll(".zoomIn").forEach(function (target) {
		observer2.observe(target);
	});

</script>

