
<section id="donate" class="shadow-xl w-screen bg-neutral-900 text-white scroll-smooth pt-24 pb-24" >

    <div class="h-auto container flex flex-col justify-center gap-20 mx-auto px-6 ">
    
        <div class="flex flex-col gap-12">
            <h2 class="text-xl md:text-3xl lg:text-4xl xl:text-5xl font-bold ">What is Value for Value?</h2>
            <p class="text-lg font-semibold ">Value for value is a monetization model that gives a choice to the consumer of content on whether or not to compensate for the creator for their work. By default, all of my content is free. I don't want you to pay me for my content unless you've benefitted from it in some way shape or form.</p>
        </div>

        <div class="flex flex-col md:flex-row gap-12 items-center justify-center">
            <a href="https://www.buymeacoffee.com/keeganfrancis" class="block  h-1/2 p-6 rounded-lg shadow bg-neutral-950 dark:hover:bg-neutral-800 transition-all duration-200">
                <h5 class="mb-2 text-2xl font-bold tracking-tighttext-white text-center">Buy me a </h5>
                <svg xmlns="http://www.w3.org/2000/svg" width="240" height="120" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path stroke-dasharray="48" stroke-dashoffset="48" d="M17 9v9a3 3 0 0 1-3 3H8a3 3 0 0 1-3-3V9z"><animate fill="freeze" attributeName="stroke-dashoffset" dur="0.6s" values="48;0"/></path><path stroke-dasharray="14" stroke-dashoffset="14" d="M17 14H20C20.55 14 21 13.55 21 13V10C21 9.45 20.55 9 20 9H17"><animate fill="freeze" attributeName="stroke-dashoffset" begin="0.6s" dur="0.2s" values="14;28"/></path></g><mask id="lineMdCoffeeLoop0"><path fill="none" stroke="#fff" stroke-width="2" d="M8 0c0 2-2 2-2 4s2 2 2 4-2 2-2 4 2 2 2 4M12 0c0 2-2 2-2 4s2 2 2 4-2 2-2 4 2 2 2 4M16 0c0 2-2 2-2 4s2 2 2 4-2 2-2 4 2 2 2 4"><animateMotion calcMode="linear" dur="3s" path="M0 0v-8" repeatCount="indefinite"/></path></mask><rect width="24" height="0" y="7" fill="currentColor" mask="url(#lineMdCoffeeLoop0)"><animate fill="freeze" attributeName="y" begin="0.8s" dur="0.6s" values="7;2"/><animate fill="freeze" attributeName="height" begin="0.8s" dur="0.6s" values="0;5"/></rect></svg>
            </a>
            <div class="flex flex-col gap-7">
                <p class="text-lg font-light ">
                    I encourage you to tip me an amount that makes sense for you. If you want to say thanks, then perhaps ϟ1000 (₿0.00001000) or $1.00 is all that is needed. I know that I appreciate every cent or satoshi. Contributions help me continue making content, and give me an indication into which pieces of content you like, so I can make more of that.
                </p>
                <p class="text-lg font-light ">
                    I don't monetize my content with advertisements because above all else, I value both our time. If I'm talking about a product in my content or podcast, it's because I use it and I think it would benefit you. Please use the widget below to pick a currency that works best for you. I accept all forms of money, if you don't see the option of currency you wish to send me, get in touch and I'll be happy to figure out how to recieve your contribution.
                </p>
            </div>
        </div>
    </div>

</section>