<nav class="bg-neutral-800 fixed w-full z-20 shadow-md">
    <div class="container flex items-center justify-between mx-auto px-6 py-4">
        <p class="flex items-center">
            <span class="self-center text-md font-semibold whitespace-nowrap text-white uppercase">Keegan Francis</span>
        </p>

        <div class="flex items-center gap-8">
            <div class="cursor-pointer transform transition-all hover:-translate-y-1 duration-200">
                <a href="https://amboss.space/node/02ec10d238c608af4691a0e817bcfbb4f889f90c95d93ba3150a1ac04cdcde402b">
                    <svg width="36" height="40" viewBox="0 0 36 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.159 0.212416C28.4649 0.389723 28.7016 0.665509 28.8304 0.99472C28.9592 1.32393 28.9726 1.68711 28.8684 2.02492L23.2403 20.3124H33.6246C33.9298 20.3123 34.2283 20.4015 34.4834 20.5691C34.7384 20.7367 34.9388 20.9753 35.0598 21.2555C35.1807 21.5357 35.217 21.8451 35.1641 22.1457C35.1112 22.4463 34.9715 22.7247 34.7621 22.9468L9.76215 49.5093C9.52025 49.7665 9.19836 49.9342 8.84894 49.9851C8.49952 50.0359 8.14318 49.9669 7.83799 49.7893C7.53281 49.6117 7.29677 49.336 7.16837 49.0071C7.03996 48.6782 7.02675 48.3154 7.1309 47.978L12.759 29.6874H2.37465C2.06947 29.6875 1.77095 29.5983 1.51592 29.4307C1.26088 29.2631 1.06051 29.0245 0.939538 28.7443C0.818563 28.4641 0.78228 28.1547 0.835168 27.8541C0.888055 27.5536 1.0278 27.2751 1.23715 27.053L26.2371 0.490541C26.4787 0.233663 26.8001 0.0660675 27.1491 0.0150048C27.498 -0.0360579 27.8539 0.0324152 28.159 0.209291V0.212416Z" fill="#FFC83A"/>
                    </svg>
                </a>
            </div>
    
            <div class="cursor-pointer transform transition-all hover:-translate-y-1 duration-200">
                <a href="https://twitter.com/BitcoinKeegan">
                    <svg fill="#DC7633" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="40"
                    zoomAndPan="magnify" viewBox="0 0 375 374.9999" height="40" version="1.0">
                        <defs>
                            <path
                                d="M 11.972656 11.972656 L 359.222656 11.972656 L 359.222656 359.222656 L 11.972656 359.222656 Z M 11.972656 11.972656 "
                                fill="white">
                            </path>
                        </defs>
                        <g>
                            <path
                            d="M 185.597656 359.222656 C 89.675781 359.222656 11.972656 280.984375 11.972656 185.597656 C 11.972656 90.210938 89.675781 11.972656 185.597656 11.972656 C 281.519531 11.972656 359.222656 89.675781 359.222656 185.597656 C 359.222656 281.519531 280.984375 359.222656 185.597656 359.222656 Z M 185.597656 22.691406 C 95.570312 22.691406 22.691406 95.570312 22.691406 185.597656 C 22.691406 275.625 95.570312 348.503906 185.597656 348.503906 C 275.625 348.503906 348.503906 275.625 348.503906 185.597656 C 348.503906 95.570312 275.089844 22.691406 185.597656 22.691406 Z M 185.597656 22.691406 "
                            fill-opacity="1" fill-rule="nonzero" fill="white"></path>
                        </g>
                        <g transform="translate(85, 75)"> 
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" version="1.1"
                            height="205" width="205">
                                <path
                                    d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"
                                    fill="white">
                                </path>
                            </svg> 
                        </g>
                    </svg>
                </a>
            </div>
    
            <div class="cursor-pointer transform transition-all hover:-translate-y-1 duration-200">
                <a href="https://keeganfrancis.substack.com/">
                    <svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M46.9561 17.1708H3.0415V11.2625H46.9582V17.1708H46.9561ZM3.0415 22.525V50L24.9998 37.7292L46.9582 50V22.525H3.0415ZM46.9582 0H3.0415V5.90833H46.9582V0Z" fill="#FF6819"/>
                    </svg>
                </a>
            </div>
    
            <div class="cursor-pointer transform transition-all hover:-translate-y-1 duration-200">
                <a href="https://www.instagram.com/BitcoinKeegan/">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1020_322)">
                            <path d="M20 14C18.4087 14 16.8826 14.6321 15.7574 15.7574C14.6321 16.8826 14 18.4087 14 20C14 21.5913 14.6321 23.1174 15.7574 24.2426C16.8826 25.3679 18.4087 26 20 26C21.5913 26 23.1174 25.3679 24.2426 24.2426C25.3679 23.1174 26 21.5913 26 20C26 18.4087 25.3679 16.8826 24.2426 15.7574C23.1174 14.6321 21.5913 14 20 14ZM20 10C22.6522 10 25.1957 11.0536 27.0711 12.9289C28.9464 14.8043 30 17.3478 30 20C30 22.6522 28.9464 25.1957 27.0711 27.0711C25.1957 28.9464 22.6522 30 20 30C17.3478 30 14.8043 28.9464 12.9289 27.0711C11.0536 25.1957 10 22.6522 10 20C10 17.3478 11.0536 14.8043 12.9289 12.9289C14.8043 11.0536 17.3478 10 20 10ZM33 9.5C33 10.163 32.7366 10.7989 32.2678 11.2678C31.7989 11.7366 31.163 12 30.5 12C29.837 12 29.2011 11.7366 28.7322 11.2678C28.2634 10.7989 28 10.163 28 9.5C28 8.83696 28.2634 8.20107 28.7322 7.73223C29.2011 7.26339 29.837 7 30.5 7C31.163 7 31.7989 7.26339 32.2678 7.73223C32.7366 8.20107 33 8.83696 33 9.5ZM20 4C15.052 4 14.244 4.014 11.942 4.116C10.374 4.19 9.322 4.4 8.346 4.78C7.52923 5.07988 6.79083 5.56052 6.186 6.186C5.56001 6.7908 5.07871 7.52917 4.778 8.346C4.398 9.326 4.188 10.376 4.116 11.942C4.012 14.15 3.998 14.922 3.998 20C3.998 24.95 4.012 25.756 4.114 28.058C4.188 29.624 4.398 30.678 4.776 31.652C5.116 32.522 5.516 33.148 6.18 33.812C6.854 34.484 7.48 34.886 8.34 35.218C9.328 35.6 10.38 35.812 11.94 35.884C14.148 35.988 14.92 36 19.998 36C24.948 36 25.754 35.986 28.056 35.884C29.62 35.81 30.672 35.6 31.65 35.222C32.466 34.9206 33.2041 34.4402 33.81 33.816C34.484 33.144 34.886 32.518 35.218 31.656C35.598 30.672 35.81 29.62 35.882 28.056C35.986 25.85 35.998 25.076 35.998 20C35.998 15.052 35.984 14.244 35.882 11.942C35.808 10.378 35.596 9.322 35.218 8.346C34.9165 7.53003 34.4361 6.79196 33.812 6.186C33.2075 5.55969 32.469 5.07833 31.652 4.778C30.672 4.398 29.62 4.188 28.056 4.116C25.85 4.012 25.08 4 20 4ZM20 0C25.434 0 26.112 0.0199999 28.246 0.12C30.374 0.22 31.826 0.554 33.1 1.05C34.42 1.558 35.532 2.246 36.644 3.356C37.661 4.35579 38.4479 5.56518 38.95 6.9C39.444 8.174 39.78 9.626 39.88 11.756C39.974 13.888 40 14.566 40 20C40 25.434 39.98 26.112 39.88 28.244C39.78 30.374 39.444 31.824 38.95 33.1C38.4493 34.4355 37.6622 35.6452 36.644 36.644C35.6439 37.6606 34.4346 38.4475 33.1 38.95C31.826 39.444 30.374 39.78 28.246 39.88C26.112 39.974 25.434 40 20 40C14.566 40 13.888 39.98 11.754 39.88C9.626 39.78 8.176 39.444 6.9 38.95C5.56465 38.4489 4.35505 37.6619 3.356 36.644C2.33886 35.6443 1.55192 34.4349 1.05 33.1C0.554 31.826 0.22 30.374 0.12 28.244C0.0240004 26.112 0 25.434 0 20C0 14.566 0.0200004 13.888 0.12 11.756C0.22 9.624 0.554 8.176 1.05 6.9C1.55047 5.56436 2.33761 4.35464 3.356 3.356C4.35534 2.33846 5.56486 1.55146 6.9 1.05C8.174 0.554 9.624 0.22 11.754 0.12C13.888 0.0259999 14.566 0 20 0Z" fill="#B467A8"/>
                        </g>
                        <defs>
                            <clipPath id="clip0_1020_322">
                                <rect width="40" height="40" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>
    
            <div class="cursor-pointer transform transition-all hover:-translate-y-1 duration-200">
                <a href="https://t.me/BitcoinKeegan">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1021_324)">
                            <path d="M20 0C14.6969 0 9.60625 2.10844 5.85938 5.85781C2.10863 9.60868 0.00103897 14.6956 0 20C0 25.3022 2.10938 30.3928 5.85938 34.1422C9.60625 37.8916 14.6969 40 20 40C25.3031 40 30.3938 37.8916 34.1406 34.1422C37.8906 30.3928 40 25.3022 40 20C40 14.6978 37.8906 9.60719 34.1406 5.85781C30.3938 2.10844 25.3031 0 20 0Z" fill="url(#paint0_linear_1021_324)"/>
                            <path d="M9.05291 19.7888C14.8842 17.2488 18.7717 15.5741 20.7154 14.7651C26.2717 12.4548 27.4248 12.0535 28.1779 12.0399C28.3435 12.0373 28.7123 12.0782 28.9529 12.2727C29.1529 12.4368 29.2092 12.6587 29.2373 12.8144C29.2623 12.9701 29.2967 13.3248 29.2685 13.6016C28.9685 16.7641 27.6654 24.4385 27.0029 27.9807C26.7248 29.4794 26.1717 29.9819 25.6373 30.031C24.4748 30.1379 23.5935 29.2635 22.4685 28.5263C20.7092 27.3723 19.7154 26.6541 18.006 25.5282C16.031 24.2269 17.3123 23.5116 18.4373 22.3429C18.731 22.0369 23.8498 17.3823 23.9467 16.9601C23.9592 16.9073 23.9717 16.7104 23.8529 16.6066C23.7373 16.5026 23.5654 16.5382 23.4404 16.5663C23.2623 16.6063 20.4529 18.4651 15.0029 22.1423C14.206 22.6904 13.4842 22.9576 12.8342 22.9435C12.1217 22.9282 10.7467 22.5398 9.72479 22.2079C8.47479 21.8007 7.47791 21.5854 7.56541 20.8938C7.60916 20.5338 8.10603 20.1654 9.05291 19.7888Z" fill="white"/>
                        </g>
                        <defs>
                            <linearGradient id="paint0_linear_1021_324" x1="2000" y1="0" x2="2000" y2="4000" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#2AABEE"/>
                                <stop offset="1" stop-color="#229ED9"/>
                            </linearGradient>
                            <clipPath id="clip0_1021_324">
                                <rect width="40" height="40" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>   
                </a>             
            </div>
    
            <div class="cursor-pointer transform transition-all hover:-translate-y-1 duration-200">
                <a href="https://discord.com/invite/Pb68aGcW">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_1021_327)">
                        <path d="M30.625 0H9.375C4.19733 0 0 4.19733 0 9.375V30.625C0 35.8027 4.19733 40 9.375 40H30.625C35.8027 40 40 35.8027 40 30.625V9.375C40 4.19733 35.8027 0 30.625 0Z" fill="#5865F2"/>
                        <mask id="mask0_1021_327" style="mask-type:luminance" maskUnits="userSpaceOnUse" x="4" y="7" width="32" height="26">
                        <path d="M4.375 7.96875H35.625V32.1766H4.375V7.96875Z" fill="white"/>
                        </mask>
                        <g mask="url(#mask0_1021_327)">
                        <path d="M30.8293 10.1245C28.8033 9.19445 26.6652 8.53126 24.4685 8.15151C24.4485 8.14782 24.4279 8.15051 24.4096 8.15921C24.3912 8.1679 24.3761 8.18216 24.3663 8.19995C24.0916 8.68839 23.7872 9.32589 23.5743 9.82683C21.1722 9.46714 18.7827 9.46714 16.4301 9.82683C16.2169 9.31464 15.9016 8.68839 15.6257 8.19995C15.6155 8.18253 15.6002 8.16858 15.582 8.15994C15.5637 8.1513 15.5433 8.14836 15.5233 8.15151C13.3265 8.53049 11.1883 9.19372 9.16256 10.1245C9.14522 10.1318 9.13059 10.1444 9.12069 10.1604C5.06944 16.2129 3.95975 22.1167 4.50412 27.9473C4.50564 27.9616 4.51002 27.9754 4.517 27.988C4.52398 28.0006 4.53341 28.0116 4.54475 28.0204C7.21756 29.9834 9.80678 31.1751 12.3479 31.965C12.3676 31.9708 12.3887 31.9706 12.4083 31.9641C12.4279 31.9577 12.4451 31.9455 12.4576 31.929C13.0587 31.1081 13.5944 30.2426 14.054 29.3325C14.0603 29.32 14.0639 29.3063 14.0646 29.2924C14.0652 29.2784 14.0629 29.2644 14.0578 29.2514C14.0527 29.2384 14.0449 29.2267 14.0348 29.2169C14.0248 29.2071 14.0129 29.1996 13.9997 29.1948C13.1497 28.8723 12.3405 28.4793 11.5621 28.0329C11.5479 28.0246 11.536 28.0129 11.5274 27.9988C11.5188 27.9848 11.5138 27.9688 11.5129 27.9524C11.5119 27.936 11.515 27.9196 11.5218 27.9046C11.5287 27.8897 11.5392 27.8766 11.5522 27.8667C11.7165 27.7439 11.8779 27.6174 12.0363 27.4873C12.0502 27.4758 12.067 27.4685 12.0848 27.466C12.1027 27.4636 12.1208 27.4662 12.1372 27.4735C17.2516 29.8085 22.7883 29.8085 27.8422 27.4735C27.8587 27.4657 27.8771 27.4628 27.8952 27.465C27.9133 27.4672 27.9305 27.4745 27.9446 27.486C28.1032 27.6169 28.265 27.7438 28.4299 27.8667C28.4431 27.8765 28.4536 27.8895 28.4606 27.9044C28.4675 27.9193 28.4707 27.9357 28.4699 27.9521C28.469 27.9685 28.4642 27.9845 28.4557 27.9986C28.4472 28.0127 28.4354 28.0245 28.4213 28.0329C27.6424 28.4877 26.8266 28.876 25.9824 29.1935C25.9693 29.1986 25.9574 29.2063 25.9475 29.2162C25.9376 29.2261 25.9298 29.238 25.9248 29.2511C25.9198 29.2643 25.9177 29.2783 25.9185 29.2923C25.9192 29.3063 25.923 29.32 25.9294 29.3325C26.3969 30.2354 26.93 31.1028 27.5244 31.9278C27.5365 31.9446 27.5536 31.9573 27.5733 31.964C27.593 31.9707 27.6142 31.971 27.6341 31.965C30.1876 31.1751 32.7768 29.9834 35.4497 28.0204C35.4612 28.012 35.4707 28.0012 35.4777 27.9888C35.4847 27.9764 35.4891 27.9627 35.4904 27.9485C36.1419 21.2078 34.399 15.3523 30.8699 10.1617C30.8613 10.1448 30.8468 10.1316 30.8293 10.1245ZM14.8177 24.3971C13.2779 24.3971 12.0091 22.9835 12.0091 21.2475C12.0091 19.5114 13.2533 18.0978 14.8177 18.0978C16.3943 18.0978 17.6507 19.5239 17.626 21.2475C17.626 22.9835 16.3821 24.3971 14.8177 24.3971ZM25.2015 24.3971C23.6616 24.3971 22.393 22.9835 22.393 21.2475C22.393 19.5114 23.6371 18.0978 25.2015 18.0978C26.778 18.0978 28.0344 19.5239 28.0099 21.2475C28.0099 22.9835 26.778 24.3971 25.2015 24.3971Z" fill="white"/>
                        </g>
                        </g>
                            <defs>
                            <clipPath id="clip0_1021_327">
                                <rect width="40" height="40" fill="white"/>
                            </clipPath>
                        </defs>
                    </svg>
                </a>
            </div>
    
            <div class="cursor-pointer transform transition-all hover:-translate-y-1 duration-200">
                <a href="https://www.gofullcrypto.com/podcast">
                    <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M28.3333 30.4167V35.8333H11.6667V30.4167C11.6667 28.1167 15.4 26.25 20 26.25C24.6 26.25 28.3333 28.1167 28.3333 30.4167ZM20 9.16667C22.8732 9.16667 25.6287 10.308 27.6603 12.3397C29.692 14.3713 30.8333 17.1268 30.8333 20C30.8333 22.0833 30.25 24.0333 29.2333 25.6833L26.6667 23.4C27.2 22.3833 27.5 21.2167 27.5 20C27.5 15.8333 24.1667 12.5 20 12.5C15.8333 12.5 12.5 15.8333 12.5 20C12.5 21.2167 12.8 22.3833 13.3333 23.4L10.7667 25.6833C9.75001 24.0333 9.16667 22.0833 9.16667 20C9.16667 17.1268 10.308 14.3713 12.3397 12.3397C14.3713 10.308 17.1268 9.16667 20 9.16667ZM20 2.5C24.6413 2.5 29.0925 4.34374 32.3744 7.62563C35.6563 10.9075 37.5 15.3587 37.5 20C37.5 23.8 36.2833 27.3167 34.2333 30.1833L31.7333 27.9333C33.2667 25.6667 34.1667 22.9333 34.1667 20C34.1667 16.2428 32.6741 12.6394 30.0174 9.98265C27.3606 7.32589 23.7572 5.83333 20 5.83333C16.2428 5.83333 12.6394 7.32589 9.98266 9.98265C7.3259 12.6394 5.83334 16.2428 5.83334 20C5.83334 22.9333 6.73334 25.6667 8.26667 27.9333L5.76667 30.1833C3.63913 27.2143 2.4966 23.6526 2.50001 20C2.50001 15.3587 4.34375 10.9075 7.62564 7.62563C10.9075 4.34374 15.3587 2.5 20 2.5ZM20 15.8333C21.1051 15.8333 22.1649 16.2723 22.9463 17.0537C23.7277 17.8351 24.1667 18.8949 24.1667 20C24.1667 21.1051 23.7277 22.1649 22.9463 22.9463C22.1649 23.7277 21.1051 24.1667 20 24.1667C18.8949 24.1667 17.8351 23.7277 17.0537 22.9463C16.2723 22.1649 15.8333 21.1051 15.8333 20C15.8333 18.8949 16.2723 17.8351 17.0537 17.0537C17.8351 16.2723 18.8949 15.8333 20 15.8333Z" fill="#139839"/>
                    </svg>                
                </a>
            </div>
        </div>
    </div>
</nav>