<!-- Amboss Node Link -->
<div class="cursor-pointer transform transition-all hover:-translate-y-1 duration-200">
    <a href="https://amboss.space/node/02ec10d238c608af4691a0e817bcfbb4f889f90c95d93ba3150a1ac04cdcde402b">
        <svg width="36" height="40" viewBox="0 0 36 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M28.159 0.212416C28.4649 0.389723 28.7016 0.665509 28.8304 0.99472C28.9592 1.32393 28.9726 1.68711 28.8684 2.02492L23.2403 20.3124H33.6246C33.9298 20.3123 34.2283 20.4015 34.4834 20.5691C34.7384 20.7367 34.9388 20.9753 35.0598 21.2555C35.1807 21.5357 35.217 21.8451 35.1641 22.1457C35.1112 22.4463 34.9715 22.7247 34.7621 22.9468L9.76215 49.5093C9.52025 49.7665 9.19836 49.9342 8.84894 49.9851C8.49952 50.0359 8.14318 49.9669 7.83799 49.7893C7.53281 49.6117 7.29677 49.336 7.16837 49.0071C7.03996 48.6782 7.02675 48.3154 7.1309 47.978L12.759 29.6874H2.37465C2.06947 29.6875 1.77095 29.5983 1.51592 29.4307C1.26088 29.2631 1.06051 29.0245 0.939538 28.7443C0.818563 28.4641 0.78228 28.1547 0.835168 27.8541C0.888055 27.5536 1.0278 27.2751 1.23715 27.053L26.2371 0.490541C26.4787 0.233663 26.8001 0.0660675 27.1491 0.0150048C27.498 -0.0360579 27.8539 0.0324152 28.159 0.209291V0.212416Z" fill="#FFC83A"/>
        </svg>
    </a>
</div>