 <!-- Substack Link -->
 <div class="cursor-pointer transform transition-all hover:-translate-y-1 duration-200">
    <a href="https://keeganfrancis.substack.com/">
        <svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M46.9561 17.1708H3.0415V11.2625H46.9582V17.1708H46.9561ZM3.0415 22.525V50L24.9998 37.7292L46.9582 50V22.525H3.0415ZM46.9582 0H3.0415V5.90833H46.9582V0Z" fill="#FF6819"/>
        </svg>
    </a>
</div>